.sizing {
  display: block;
  margin: 0 auto;
  width: vw;
}

.grid {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.controls {
  display: -webkit-flex;
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.grid-rules {
  width: 100px;
  margin: 20px 10px;
}

.bm {
  width: 100px;
  height: 94px;
  /* margin: 20px 10px; */
  border: 4px solid #fca429;
  border-radius: 20%;
  cursor: pointer;
}

.bm__list {
  display: -webkit-flex;
  display: flex;
  /* justify-content: space-between; */
  width: 30rem;
  height: 30px;
  margin: 5px 10px;
  border: 1px solid #80808080;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  background: #e7e7e7;
}

.menu-bar {
  background: none;
  margin-right: 5px;
  /* background-color: #fff; */
  background: none;
  border: none;
}

.bar {
  width: 15px;
  height: 2px;
  /* color: #000; */
  background-color: #000;
  margin: 2px 0;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  border-radius: 10px;
  background: #5c5c5c;
  color: white;
  margin-top: 5px;
  padding: 2px;
}

.title a {
  color: white;
  text-decoration: none;
}

.title__list {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title:hover {
  white-space: unset;
  overflow: visible;
  text-overflow: unset;
  z-index: 100;
}

.new-bm {
  text-align: center;
}

.add-bm {
  width: 100px;
  height: 94px;
  margin: 20px 10px;
  border: 4px dashed #fca429;
  border-radius: 20%;
  color: #fca429;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
}

.add-bm__list {
  /* width: 100%; */
  width: 30rem;
  padding-left: 10px;
  height: 30px;
  margin: 5px 10px;
  border: 2px dashed #fca429;
  border-radius: 5px;
  color: #fca429;
  /* font-size: 20px; */
  cursor: pointer;
}

.del {
  color: #b64b4b;
}

.edit {
  color: #deb887;
}

.selected {
  background-color: #deb887;
  /* border: 4px solid #deb887; */
  border-radius: 3px;
}

.first-bm {
  margin: 0 auto;
}
