.bookmarks {
  padding-bottom: 30px;
}

.sizing {
  display: block;
  width: vw;
}

.grid {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.controls {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  background-color: #fca429;
  padding: 0 12%;
  line-height: 30px;
}

.alerts {
  color: #ddd;
  /* background-color: #b64b4b; */
}

.controls__error {
  background-color: #d81900;
}

.grid-rules {
  width: 100px;
  margin: 10px 10px;
}

.bm {
  position: relative;
  width: 100px;
  height: 94px;
  overflow: auto;
  overflow: -moz-hidden-unscrollable;
  /* margin: 20px 10px; */
  /* border: 3px solid #fca429; */
  border: 3px solid #deb887;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 1px 2px 4px #fca42940;
  background: #fcfbed;
}

.bm:hover .bm-options {
  background-color: #fcfbed;
  /* display: block; */
  visibility: visible;
  border-bottom-left-radius: 8px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
}

.bm__list {
  position: relative;
  display: -webkit-flex;
  display: flex;
  /* justify-content: space-between; */
  width: 25rem;
  height: 30px;
  margin: 5px 10px;
  border: 1px solid #80808080;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  background: #fcfbed;
}

.bm__list:hover .bm-options {
  background-color: #dad8c7;
  /* display: block; */
  visibility: visible;
  /* top: -1%; */
  /* right: 0.2%; */
  border-radius: 5px;
}

.bm__list:hover {
  background-color: #dad8c7;
}

.bm-options {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 1.7rem;
  visibility: hidden;
}

.bm a {
  text-decoration: none;
  color: #4d384b;
}

.bar {
  width: 15px;
  height: 2px;
  /* color: #000; */
  background-color: #4d384b;
  margin: 2px 0;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  border-radius: 5px;
  background: #deb887;
  color: #4d384b;
  margin-top: 5px;
  padding: 2px;
}

.title a {
  color: #111;
  text-decoration: none;
}

.title__list {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "PT Sans", sans-serif;
  /* font-size: 15px; */
}

.title__list a {
  text-decoration: none;
  color: #111;
}

.title:hover {
  white-space: unset;
  overflow: auto;
  text-overflow: unset;
  /* z-index: 100; */
}

.new-bm {
  text-align: center;
}

.add-bm {
  width: 100px;
  height: 94px;
  margin: 10px 10px;
  border: 4px dashed #fca429;
  border-radius: 20%;
  color: #fca429;
  font-size: 47px;
  text-align: center;
  cursor: pointer;
}

.add-bm__list {
  /* width: 100%; */
  width: 25rem;
  padding-left: 10px;
  height: 30px;
  margin: 5px 10px;
  border: 2px dashed #fca429;
  border-radius: 5px;
  color: #fca429;
  font-weight: 600;
  cursor: pointer;
}

.del {
  position: relative;
  color: #b64b4b;
  z-index: 10;
  top: 1%;
  left: 2%;
}

.del:hover {
  text-shadow: 0px 0px 10px #b64b4b;
}

.edit {
  position: relative;
  color: #fca429;
}

.edit:hover {
  text-shadow: 0px 0px 10px #fca429;
}

.icons {
  margin-left: 4px;
  line-height: inherit;
  /* margin: 0 1rem; */
  /* margin: 0 auto; */
  cursor: pointer;
  /* border: 1px solid #fca429; */
}

.icons:hover {
  /* border: 1px solid #deb887; */
  background-color: #e79726;
  line-height: 24px;
}

.material-icons {
  vertical-align: middle;
  /* line-height: inherit; */
}

.material-icons.icon__large {
  font-size: 47px !important;
  color: #fca429;
}

.highlighted {
  background-color: #e7cfaf;
  /* border: 4px solid #deb887; */
  line-height: 24px;
  border-radius: 3px;
  box-shadow: -1px -2px -4px #000;
}

.image-div {
  height: 100%;
  width: 100%;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  /* vertical-align: middle; */
  /* margin: 0 auto; */
  /* background: red; */
  margin: 0 auto;
  /* vertical-align: middle; */
  overflow: hidden;
}

.image {
  min-height: 50%;
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-image {
  background: #fcfbed;
  font-size: 60px;
  text-align: center;
  font-family: "lato";
  /* overflow: hidden; */
  /* overflow: -webkit-overflow-scrolling; */
  /* overflow: auto; */
  /* overflow: -moz-hidden-unscrollable; */
  /* overflow: auto; */
  /* margin-bottom: 30px; */
}
.text-image p {
  color: red;
}

.favicon__list {
  margin-top: 2px;
  margin-left: 2px;
}

.favicon__image {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.first-bm {
  margin: 0 auto;
}

@media (max-width: 1049px) {
  .bm__list {
    width: 80vw;
  }

  .add-bm__list {
    width: 80vw;
    margin: 5px 0;
  }
}
