.grid {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.bm {
  width: 100px;
  height: 94px;
  margin: 20px 10px;
  border: 4px solid #fca429;
  border-radius: 20%;
  cursor: pinter;
}

.new-bm {
  text-align: center;
}

.add-bm {
  width: 100px;
  height: 94px;
  margin: 20px 10px;
  border: 4px dashed #fca429;
  border-radius: 20%;
  color: #fca429;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
}

.first-bm {
  margin: 0 auto;
}
