.navbar {
  background: #4d384b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #2e222d67;
}

.nav-box {
  width: 70%;
  margin: 0 auto;
}

.nav-center {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

.navbar h1 {
  margin-right: auto;
}

.navbar-brand {
  text-decoration: none;
  height: inherit;
  line-height: inherit;
  color: #deb887;
  padding-left: 20%;
  font-size: 28px;
}

.navbar-brand span {
  color: #fca429;
}

.navbar ul {
  display: -webkit-flex;
  display: flex;
  height: inherit;
  line-height: inherit;
  list-style: none;
}

.navbar ul li {
  margin: 0 1rem;
  font-size: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
  /* text-shadow: 0px 0px 10px #d7d5f3; */
}

.navbar ul li a:hover {
  color: #d7d5f3;
  text-shadow: 0px 5px 10px #d7d5f3;
}

@media (max-width: 767px) {
}
