.section {
  position: relative;
  background: #4d384b;
  box-shadow: 3px 3px 6px #00000080;
  padding-bottom: 80px;
}

.section-2 {
  background-color: #171d29;
  min-height: 70vh;
}

.section-2 h3 {
  color: #deb887;
  text-align: center;
  padding-top: 50px;
}

.brand {
  padding-top: 60px;
  text-decoration: none;
  color: #deb887;
  padding-left: 10%;
  font-size: 48px;
}

.brand span {
  color: #fca429;
}

.brand__tag {
  color: #deb887;
  padding-left: 12%;
  font-size: 26px;
}

.github {
  position: absolute;
  top: 0%;
  right: 0%;
}

.bullets {
  display: block;
  margin-top: 2rem;
  padding-top: 1.5rem;
  margin-left: 10%;
  padding-right: 2%;
  background-color: #171d29;
  width: max-content;
  height: 290px;
  -webkit-clip-path: polygon(0% 2%, 90% 0%, 100% 98%, 2% 100%);
  clip-path: polygon(0% 2%, 90% 0%, 100% 98%, 2% 100%);
}

.bullets p {
  color: #dad8c7;
  font-size: 24px;
  padding-left: 25px;
  text-decoration: yellow;
}

.screenshots {
  padding-top: 50px;
}

.screenshots h3 {
  font-size: 24px;
}

.cards {
  display: -webkit-flex;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}

.cards__left {
  padding-left: 10%;
}

.cards__right {
  padding-right: 10%;
}

#card-1 {
  width: 90%;
}
#card-1 img {
  width: 100%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}
#card-1 p {
  padding-top: 20px;
  font-size: 20px;
  color: #dad8c7;
  white-space: nowrap;
}

#card-2 {
  width: 90%;
}
#card-2 img {
  width: 100%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}
#card-2 p {
  padding-top: 20px;
  font-size: 20px;
  color: #dad8c7;
  white-space: nowrap;
}

#card-3 {
  width: 100%;
}
#card-3 img {
  width: 100%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}
#card-3 p {
  padding-top: 20px;
  font-size: 20px;
  color: #dad8c7;
  white-space: nowrap;
}

.auth-card {
  position: absolute;
  top: 15%;
  right: 7%;
  height: 33rem;
  width: 25%;
  background-color: #dad8c7;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .auth-card {
    height: 28rem;
    right: 8.5%;
  }

  .bullets {
    height: 240px;
  }

  .bullets p {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .section {
    position: unset;
    display: block;
    height: 100%;
  }

  .section-2 {
    height: 100%;
  }

  .bullets {
    margin: 0 auto;
    margin-top: 70px;
    width: 70%;
    padding: 15px;
    padding-right: 4%;
    height: auto;
  }

  .bullets p {
    padding: 0 15px;
    font-size: 18px;
  }

  .cards {
    display: block;
    width: 60%;
    justify-content: unset;
    margin: 0 auto;
  }

  .cards__left {
    margin: 0 auto;
    padding: 0;
  }

  .cards__right {
    margin: 0 auto;
    padding: 0;
  }

  .cards__left {
    padding: 0;
    margin: 0 auto;
  }

  #card-1 {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
  }

  #card-2 {
    margin: 0 auto;
    width: 100%;
  }

  #card-3 {
    margin: 0 auto;
    width: 100%;
  }

  #card-3 img {
    margin: 0 auto;
  }

  .auth-card {
    position: unset;
    display: block;
    height: 28rem;
    margin: 20px auto;
    width: 80%;
  }
}

@media (max-width: 500px) {
  .auth-card {
    position: unset;
    display: block;
    height: 27rem;
    margin: 20px auto;
    width: 80%;
  }

  .cards {
    display: block;
    width: 80%;
  }

  .bullets p {
    font-size: 16px;
  }
}
