.section {
  position: relative;
  /* display: block; */
  /* margin: 0% 20%; */
  /* padding: 5% 10%; */
  background: #4d384b;
  /* border-radius: 20px; */
  /* justify-content: center; */
  /* text-align: center; */
  box-shadow: 3px 3px 6px #00000080;
  height: 60vh;
}

.section-2 {
  height: 40vh;
  background-color: rgb(23, 29, 41);
}

.brand {
  padding-top: 60px;
  text-decoration: none;
  /* height: inherit; */
  /* line-height: inherit; */
  color: #deb887;
  padding-left: 10%;
  font-size: 48px;
}

.brand span {
  color: #fca429;
}

.brand__tag {
  color: #deb887;
  padding-left: 12%;
  font-size: 32px;
}

.github {
  position: absolute;
  top: 0%;
  right: 0%;
}

#card-1 {
  position: absolute;
  top: 15rem;
  /* left: 3rem; */
  left: 5%;
  /* width: 700px;
  height: 141px; */
  width: 50%;
  /* background-color: #cecece; */
  /* border: 3px solid #000; */
}
#card-1 img {
  width: 100%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}
#card-1 p {
  position: inherit;
  font-size: 20px;
  top: 9rem;
  color: #deb887;
}

#card-2 {
  position: absolute;
  top: 28rem;
  /* left: 8rem; */
  left: 12%;
  /* width: 700px;
  height: 141px; */
  width: 50%;
  /* background-color: #afafaf; */
  /* border: 3px solid #000; */
}
#card-2 img {
  width: 100%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}
#card-2 p {
  position: inherit;
  font-size: 20px;
  top: 9rem;
  color: #deb887;
}

#card-3 {
  position: absolute;
  top: 29rem;
  left: 10%;
  width: 250px;
  height: 429px;
  background-color: #cecece;
  border: 3px solid #000;
}
#card-3 img {
  height: 100%;
}

#card-1:hover {
  z-index: 10;
}
#card-2:hover {
  z-index: 10;
}

.auth-card {
  position: absolute;
  /* display: block; */
  top: 15%;
  right: 7%;
  height: 35rem;
  width: 25%;
  background-color: #afafaf;
  border: 1px solid #000;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .auth-card {
    height: 30rem;
  }
}

@media (max-width: 950px) {
  .section {
    position: unset;
    display: block;
    height: 100%;
  }

  .section-2 {
    display: none;
  }

  #card-1 {
    position: unset;
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 10px;
  }

  #card-2 {
    position: unset;
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  .auth-card {
    position: unset;
    display: block;
    height: 30rem;
    margin-top: 20px;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
    width: 60%;
  }
}
