.modal {
  width: 90%;
  background: #cecece;
  box-shadow: 1px 2px 4px #00000099;
  position: fixed;
  top: 24vh;
  left: 5%;
  z-index: 100;
}

.modal_header {
  padding: 0.4rem;
  background: #4d384b;
  color: #fca429;
  border-bottom: 3px solid #fca429;
}

.modal_header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal_content {
  padding: 1rem;
}

.modal_actions {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}
