* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: [footer-height];
  font-family: "Lato", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #eee;
  color: #2c2930;
  line-height: 1.6;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page {
  display: block;
  margin: 0 auto;
  /* width: 600px; */
  width: 80%;
}

.dev-bar {
  display: flex;
  margin-top: 80px;
  text-align: center;
  justify-content: space-between;
  padding: 5px;
  background: #fca429;
}

.bumper {
  padding-top: 110px;
}

.footer {
  text-align: center;
  background: #4d384b;
  border-top: 1px solid #2e222d67;
  color: #deb887;
  position: absolute;
  /* padding-right: 10px; */
  left: 0;
  right: 0;
  bottom: 0;
  height: [footer-height];
}
