.landing {
  box-sizing: border-box;
  background: #272734;
  padding-bottom: 110%;
}

.landing h1 {
  margin-top: 20%;
  color: burlywood;
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 7px;
  padding-top: 10%;
}

.landing p {
  color: burlywood;
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px;
}

.landing span {
  color: #fca429;
}
